<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Liste des utilisateurs</h4>
                <button type="button" class="btn btn-warning pull-right" (click)="addUser()">Ajouter</button>
            </div>
            <div class="card-body">
                    <ngx-datatable class="material" [loadingIndicator]="loadingIndicator" [headerHeight]="40"  [summaryRow]="true" [summaryPosition]="'bottom'" class="material"  [rows]="utilisateurs" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [scrollbarH]="true" rowHeight="auto"
                    [reorderable]="reorderable" [scrollbarH]="true">
                            <ngx-datatable-column  name="ID " prop="id">
                            </ngx-datatable-column>
                            <ngx-datatable-column   name="Nom " prop="nom">
                            </ngx-datatable-column>
                            <ngx-datatable-column  name="Prenom" prop="prenom">
                            </ngx-datatable-column>
                            <ngx-datatable-column  name="Email" prop="email">
                            </ngx-datatable-column>  
                            <ngx-datatable-column  name="Etat  activé" prop="isActive">
                            </ngx-datatable-column>  
                            <ngx-datatable-column  name="Etat connecté" prop="isLogin">
                            </ngx-datatable-column>  
                            <ngx-datatable-column  name="Etat vérifié" prop="isVerified">   
                            </ngx-datatable-column>  
                            <ngx-datatable-column name="Action" prop="id" [width]="50">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                  <div class="d-flex">
                                    <a class="p-0" style="color: red; size: 10px;" data-original-title="" (click)="suppress()">
                                        <i class='fas fa-trash'></i>
                                    </a>
                                  </div>
                                </ng-template>
                              </ngx-datatable-column>
                    </ngx-datatable>
            </div>
        </div>
    </div>

    

</div>